body {
  background-image: url("./img/chicken.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  min-height: 90vh;
}

.app {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.ny-liste {
  align-self: flex-start;
  flex-basis: 95%;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  margin: 1%;
  margin-top: 5%;
  padding: 2%;

}

.overskrift-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.overskrift {
  text-align: center;
}

.slett-liste {
  height: 50%;

}

.list-item-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2% 0;
}

.input-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5% 0;
}

.text-field {
  border: thin solid black;
  border-radius: 5px;
  width: 55%;
  margin: 0;
  background-color: white;
}

.number {
  border: thin solid black;
  border-radius: 1px;
  margin: 0;
  width: 5%;
  text-align: center;
  background-color: white;
}

.input-btn {
  width: 35%;
}

@media (max-width: 1000px) {
  .list {
    width: 90vw;
  }
}

